<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level1</key>
	<dict>
		<key>level</key>
		<string>level1.tmx</string>
		<key>wallSlide</key>
		<false/>
		<key>doubleJump</key>
		<true/>
		<key>music</key>
		<string>lvl1.mp3</string>
		<key>background</key>
		<array>
			<string>bglong1</string>
			<string>bglong2</string>
			<string>bglong3</string>
			<string>bglong4</string>
		</array>
	</dict>
</dict>
</plist>
